*,
::before,
::after {
    box-sizing: border-box;
}

/* Color Pallette */

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body-text: #918ca4;
}

/* Typography */

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

body {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--color-body-text);
}

h1,h2,h3 {
    color: var(--color-headings);
}

h1 {
    font-size: 8rem;    
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
}

/* Arrow Link Element */

a {
    text-decoration: none;
}

.link-arrow {
    font-weight: bold;
    color: var(--color-accent);
    text-transform: uppercase;
}

.link-arrow::after {
    margin-left: 5px;
    content: '-->';
    transition: margin-left 0.2s;
}

.link-arrow:hover::after {
    margin-left: 10px;  
}

@media screen and (min-width:1024px) {

    .link-arrow {
        font-size: 1.5rem;
    }

    .link-arrow::after{
        margin-left: 3px;
        content: '-->';
        transition: margin-left 0.2s;
    }

    .link-arrow:hover::after{
        margin-left: 6px;  
    }

}

/* Badge Element */

.badge {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 1rem 2.2rem 1.2rem;
    border-radius: 3rem;
    white-space: nowrap;
}

.badge__primary {
    background-color: var(--color-primary);
}

.badge__secondary {
    background-color: var(--color-secondary);
}

.badge__small {
    font-size: 1.5rem;
    padding: 0.7rem 1.2rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge__small {
        font-size: 1.2rem;
    }
    
}

/* Lists Element */

ul {
    color: var(--color-headings);
    list-style: none;
    font-weight: 500;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.card__options {
    margin: 3rem;
}

.list__tick {
    padding-right: 1rem;
}

@media screen and (min-width:1024px) {
    .card__options {
        font-size: 1.5rem;
    }
    
}
/* Inline List Element */

.inline__list {
    margin: 0rem 2rem;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    
}

/* Buttons */

.btn {
    font-size: 1.8rem;
    font-weight: 600;
    width: 40rem;
    padding: 2.6rem 3.2rem;
    margin: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 1px;
    outline: 0;
    white-space: nowrap;
}

.btn__primary {
    background-color: var(--color-accent);
    border: 0;   
}

.btn__secondary {
    color: var(--color-headings);
}

.btn__primary:hover {
    background-color: #d53f18 ;
}

.card__button:hover {
    background-color: var(--color-headings);
    color: #fff;
}

.search_icon {
    width: 1.9rem;
    margin-right: 5px;
}

.search__button {
    display: inline-flex;
    justify-content: space-evenly;
    width: 17rem;
    font-size: 1.5rem;
}

/* Icons */

.icon__sprite {
    height: 80px;
    width: 80px;
    fill: var(--color-primary);
    
}

.icon__background {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 70px;  
       
}

.icon__primary {
    background-color: #f3f9fa;
        
}
